body {
    width: 98vw;
    margin: 0;
    background: center/cover url("https://i.pinimg.com/originals/bf/e0/ff/bfe0fff75f29c5bfab4cb116ba4b0d65.jpg");
    font-family: 'Architects Daughter', cursive;
}

nav {
    width: 100%;
    height: 6%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #474239;
    border-bottom: 1px solid black;
}

nav ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link a {
    text-decoration: none;
    color: rgb(255, 254, 242);
    font-size: clamp(0.25rem, 3vw, 1.5rem);
}

.nav-link:hover {
    transform: translateY(2px);
    text-decoration: underline;
}

.plan-group {
    margin: 0 auto;
    margin-top: 3%;
    width: 80%;
}

.plan-group:first-of-type {
    margin-top: 6%;
}

.plan-group h2 {
    font-size: clamp(0.25rem, 5vw, 2rem);
    background-color: #474239;
    padding-left: 5%;
    border-bottom: 5px inset rgb(255, 254, 242);
    border-right: 5px inset rgb(255, 254, 242);
    color: rgb(255, 254, 242);
    margin-bottom: 0;
}

.plan {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    height: 80%;
    background-color: rgba(255, 254, 242, 0.85);
    border: 1px solid black;
    padding-bottom: 1%;
    margin: 1%;
    box-sizing: border-box;
    border-radius: 5%;
    color: #474239;
    font-size: clamp(0.25rem, 1vw, 1rem);
}

.plan h3 {
    margin: 3% 1% 0 0;
    font-size: clamp(0.25rem, 3vw, 1.75rem);
    text-align: center;
}

.plan hr {
    width: 80%;
    color: #474239;
    margin: 0 0 0 1%;
}

.plan img {
    height: 50%;
    width: 80%;
    border: 1px solid black;
    border-radius: 3%;
    padding: 1vh 0.5vw;
    margin: 1vh auto;
    display: block;
    background-color: white;
}

.plan h4 {
    font-size: clamp(0.25rem, 2vw, 1.5rem);
    padding-left: 5%;
    margin: 0;
}

.plan ul {
    text-align: left;
    margin: 0;
    list-style-type: square;
}

.plan a {
    text-decoration: none;
    font-weight: 700;
    color: #474239;
}

.plan a:hover {
    color: darkblue;
}

.plan a:visited {
    color: #474239;
}

.plan a:visited:hover {
    color: darkblue;
}

@media(max-width: 520px) {
    nav {
        position: relative;
    }
    .plan {
        width: 45%;
        height: 30%;
    }
}